cache/
.vscode/
build/
figures/*
input/intro/DYAMOND_SAM_ITCZ_intro/
output/*
tempest/__pycache__/*
tempest/plots/__pycache__/*
tempest.egg-info
output/DYAMOND_SAM_ITCZ_intro/grid_attributes.pkl
dev/
*.png
dask-worker-space/